In [1]:
import numpy as np 
import pandas as pd

In [2]:
excel_file_path = 'Data/Dataset.xlsx'

sheet_name = 'Customers'  

customer_data = pd.read_excel(excel_file_path, sheet_name=sheet_name)

df_customer = pd.DataFrame(customer_data)

In [3]:
df_customer

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service
...,...,...,...,...,...,...,...
4474,KH9855766,34885,Nữ,"A, THUAN PHUOC,HAI CHAU, DA NANG",NaN,specialist,finance
4475,KH9958204,36892,Nữ,"Phước Mỹ, ĐN",NaN,teenager,NaN
4476,WEBS00000043900,32311,Nữ,nguyen gian thanh,KHWEBS|00006890,specialist,construction
4477,WEBS00000044909,35316,Nữ,ngũ hành sơn,KHWEBS|00007899,blue collar,finance
4478,WEBS00000046015,37372,Nữ,Thanh Khê Tây - Thanh Khê,KHWEBS|00009005,teenager,NaN