In [70]:
import pandas as pd
import numpy as np

In [71]:
excel_file_path = 'Data/Dataset.xlsx'

ticket_data = pd.read_excel(excel_file_path, sheet_name='Ticket')

df_ticket = pd.DataFrame(ticket_data)

customer_data = pd.read_excel(excel_file_path, sheet_name='Customers')

df_customer = pd.DataFrame(customer_data)

film_data = pd.read_excel(excel_file_path, sheet_name='Film')

df_film = pd.DataFrame(film_data)

Ticket data processing

In [72]:
df_ticket.head()

,orderid,cashier,saledate,total,customerid,ticketcode,date,time,slot,room,film,slot type,ticket type,ticket price,popcorn
0,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074925,2019-05-06,18:15:00,G04,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
1,10006052019B0225,emp002,2019-05-06 16:40:43,90000.0,0000000014,20074924,2019-05-06,18:15:00,G03,3,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,45000,Không
2,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097042,2019-05-22,20:45:00,E04,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,45000,Không
3,10022052019B0167,emp011,2019-05-22 20:30:28,90000.0,0000000034,20097041,2019-05-22,20:45:00,E03,2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,45000,Không
4,10130052019B0141,emp005,2019-05-30 19:28:44,90000.0,0000000034,20106761,2019-05-30,19:30:00,F04,1,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,45000,Không

In [73]:
colums_to_drop = ['orderid', 'saledate', 'cashier', 'total', 'ticketcode', 'date', 'time', 'slot', 'room', 'ticket price']
df_ticket.drop(columns=colums_to_drop, inplace=True)
df_ticket

,customerid,film,slot type,ticket type,popcorn
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
1,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không
3,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không
...,...,...,...,...,...
35469,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35470,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35471,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không
35472,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không
35473,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không

Customer data processing

In [74]:
df_customer.head()

,customerid,DOB,gender,address,Website,job,industry
0,0000000014,36268,Nữ,hoa khe quan thanh khe,KH0104|0345,student,computer
1,0000000034,35901,Nam,man thai,KH0104|0333,student,health service
2,0000000051,34319,Nam,que son quang nam,KH0104|0255,blue collar,economics
3,0000000081,36472,Nam,truong chinh,KH0104|0293,student,economics
4,0000000098,34608,Nam,cẩm lệ,KH0104|40580,blue collar,health service

In [75]:
drop_cols = ['DOB', 'address', 'Website']
df_customer.drop(columns=drop_cols, inplace=True)

In [76]:
df_customer

           customerid gender          job        industry
0          0000000014     Nữ      student        computer
1          0000000034    Nam      student  health service
2          0000000051    Nam  blue collar       economics
3          0000000081    Nam      student       economics
4          0000000098    Nam  blue collar  health service
...               ...    ...          ...             ...
4474        KH9855766     Nữ   specialist         finance
4475        KH9958204     Nữ     teenager             NaN
4476  WEBS00000043900     Nữ   specialist    construction
4477  WEBS00000044909     Nữ  blue collar         finance
4478  WEBS00000046015     Nữ     teenager             NaN

[4479 rows x 4 columns]

Ticket + Customer

In [77]:
df_tiket_customer = pd.merge(df_ticket, df_customer, on='customerid', how='left')

In [78]:
df_tiket_customer.head()

,customerid,film,slot type,ticket type,popcorn,gender,job,industry
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
1,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
3,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nam,student,health service

In [79]:
df_tiket_customer.shape

(35474, 8)

In [80]:
df_tiket_customer.drop_duplicates(subset=['customerid', 'film']).reset_index(drop=True)

,customerid,film,slot type,ticket type,popcorn,gender,job,industry
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
1,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
2,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nam,student,health service
3,0000000051,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,blue collar,economics
4,0000000081,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nam,student,economics
...,...,...,...,...,...,...,...,...
6632,KH9958204,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nữ,teenager,NaN
6633,WEBS00000043900,MẸ MA THAN KHÓC LA LLORONA,ĐÔI,Thành viên,Không,Nữ,specialist,construction
6634,WEBS00000043900,ƯỚC HẸN MÙA THU,ĐƠN,Thành viên,Không,Nữ,specialist,construction
6635,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không,Nữ,blue collar,finance
6636,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,teenager,NaN

In [82]:
customer_movies = df_tiket_customer.groupby('customerid')['film'].agg(list).reset_index()

In [83]:
customer_movies

           customerid                                               film
0          0000000014             [AVENGERS: HỒI KẾT, AVENGERS: HỒI KẾT]
1          0000000034  [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH, JOHN WICK ...
2          0000000051  [JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH, JOHN WICK ...
3          0000000081  [AVENGERS: HỒI KẾT, AVENGERS: HỒI KẾT, AVENGER...
4          0000000098  [AVENGERS: HỒI KẾT, AVENGERS: HỒI KẾT, VÔ GIAN...
...               ...                                                ...
4474        KH9855766  [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ, CHÚA TỂ GO...
4475        KH9958204  [NGÔI ĐỀN KỲ QUÁI, NGÔI ĐỀN KỲ QUÁI, NGÔI ĐỀN ...
4476  WEBS00000043900  [MẸ MA THAN KHÓC LA LLORONA, ƯỚC HẸN MÙA THU, ...
4477  WEBS00000044909  [CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ, CHÚA TỂ GO...
4478  WEBS00000046015             [AVENGERS: HỒI KẾT, AVENGERS: HỒI KẾT]

[4479 rows x 2 columns]

In [94]:
customer_id = '0000000014'
film_list = customer_movies[customer_movies['customerid'] == customer_id]['film'].iloc[0]

# Sử dụng film_list trong FlixHub
flix_hub = FlixHub(final_data, cosine_sim)
recommended_movies = flix_hub.recommendation(film_list, total_result=5)

# In kết quả
print("Danh sách bộ phim được đề xuất:")
for movie in recommended_movies:
    print(movie)

Danh sách bộ phim được đề xuất:
1. CÀ CHỚN ANH ĐỪNG ĐI
2. ƯỚC HẸN MÙA THU
3. QUÝ CÔ LỪA ĐẢO
4. THẰNG EM LÝ TƯỞNG
5. POKÉMON: THÁM TỬ PIKACHU
1. CÀ CHỚN ANH ĐỪNG ĐI
2. ƯỚC HẸN MÙA THU
3. QUÝ CÔ LỪA ĐẢO
4. THẰNG EM LÝ TƯỞNG
5. POKÉMON: THÁM TỬ PIKACHU

C:\Users\Laptop VINHLINK\AppData\Local\Temp\ipykernel_18288\3607294827.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['similarity'] = avg_similarity

Film data processing

In [ ]:
df_film.head()

,film,slug,origin_name,director,cast,country,release_year,rating,duration,listed_in
0,NGÔI ĐỀN KỲ QUÁI,ngoi-den-ky-quai,Pee Nak,Phontharis Chotkijsadarsopon,"Chinawut Indracusin, Vachiravit Paisarnkulwong...",Thailand,2019,NC-17,108 min,"Horror, Comedy"
1,AVENGERS: HỒI KẾT,avengers-hoi-ket,Avengers: Endgame,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",United States,2019,PG-13,183 min,"Action-Adventure, Fantasy, Science Fiction"
2,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,sat-thu-john-wick-phan-3-chuan-bi-chien-tranh,John Wick: Chapter 3 - Parabellum,Chad Stahelski,"Keanu Reeves, Ian McShane, Halle Berry, Lauren...",United States,2019,NC-17,127 min,Action
3,VÔ GIAN ĐẠO,vo-gian-dao,Vo Gian Dao,Trần Việt Anh,"La Thành, Xuân Nghị, Huỳnh Anh",Vietnam,2019,NC-17,113 min,Action
4,DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ,doraemon-nobita-va-mat-trang-phieu-luu-ky,Doraemon: Nobita's Chronicle of the Moon Explo...,Yakuwa Shinnosuke,"Wasabi Mizuta, Sang Hyun Uhm, Jung-jae Lee",Japanese,2019,G,120 min,"Family, Animation"

In [ ]:
new_data = df_film[['film', 'slug', 'origin_name','director', 'cast','country','release_year', 'rating','duration', 'listed_in']]
new_data.set_index('film', inplace=True)
new_data.drop(columns='release_year', inplace=True)

In [ ]:
new_data.head()

,slug,origin_name,director,cast,country,rating,duration,listed_in
film,,,,,,,,
NGÔI ĐỀN KỲ QUÁI,ngoi-den-ky-quai,Pee Nak,Phontharis Chotkijsadarsopon,"Chinawut Indracusin, Vachiravit Paisarnkulwong...",Thailand,NC-17,108 min,"Horror, Comedy"
AVENGERS: HỒI KẾT,avengers-hoi-ket,Avengers: Endgame,"Anthony Russo, Joe Russo","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",United States,PG-13,183 min,"Action-Adventure, Fantasy, Science Fiction"
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,sat-thu-john-wick-phan-3-chuan-bi-chien-tranh,John Wick: Chapter 3 - Parabellum,Chad Stahelski,"Keanu Reeves, Ian McShane, Halle Berry, Lauren...",United States,NC-17,127 min,Action
VÔ GIAN ĐẠO,vo-gian-dao,Vo Gian Dao,Trần Việt Anh,"La Thành, Xuân Nghị, Huỳnh Anh",Vietnam,NC-17,113 min,Action
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ,doraemon-nobita-va-mat-trang-phieu-luu-ky,Doraemon: Nobita's Chronicle of the Moon Explo...,Yakuwa Shinnosuke,"Wasabi Mizuta, Sang Hyun Uhm, Jung-jae Lee",Japanese,G,120 min,"Family, Animation"

In [ ]:
class TextCleaner:
    def separate_text(self, texts):
        unique_texts = set()
        for text in texts.split(','):
            unique_texts.add(text.strip().lower())
        return ' '.join(unique_texts)

    def remove_space(self, texts):
        return texts.replace(' ', '').lower()

    def remove_punc(self, texts):
        texts = texts.lower()
        texts = texts.translate(str.maketrans('', '', string.punctuation))
        return ' '.join(texts.split())

    def clean_text(self, texts):
        texts = self.separate_text(texts)
        texts = self.remove_space(texts)
        texts = self.remove_punc(texts)
        return texts

In [ ]:
cleaner = TextCleaner()

In [ ]:
new_data['slug']        = new_data['slug'].apply(cleaner.remove_space)
new_data['origin_name']    = new_data['origin_name'].apply(cleaner.separate_text)
new_data['cast']        = new_data['cast'].apply(cleaner.separate_text)
new_data['rating']      = new_data['rating'].apply(cleaner.remove_space)
new_data['listed_in']   = new_data['listed_in'].apply(cleaner.separate_text)
new_data['director']   = new_data['director'].apply(cleaner.separate_text)

In [ ]:
new_data['BoW'] = new_data.apply(lambda row: ' '.join(row.dropna().values), axis=1)
new_data.drop(new_data.columns[:-1], axis=1, inplace=True)

In [ ]:
new_data.head()

                                                                                          BoW
film
NGÔI ĐỀN KỲ QUÁI                          ngoi-den-ky-quai Pee Nak Phontharis Chotkijsad...
AVENGERS: HỒI KẾT                           avengers-hoi-ket Avengers: Endgame Anthony Rus...
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH           sat-thu-john-wick-phan-3-chuan-bi-chien-tranh ...
VÔ GIAN ĐẠO                                 vo-gian-dao Vo Gian Dao Trần Việt Anh La Thành...
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ  doraemon-nobita-va-mat-trang-phieu-luu-ky Dora...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfid = TfidfVectorizer()
tfid_matrix = tfid.fit_transform(new_data['BoW'])

In [ ]:
new_data

                                                                                          BoW
film
NGÔI ĐỀN KỲ QUÁI                          ngoi-den-ky-quai Pee Nak Phontharis Chotkijsad...
AVENGERS: HỒI KẾT                           avengers-hoi-ket Avengers: Endgame Anthony Rus...
JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH           sat-thu-john-wick-phan-3-chuan-bi-chien-tranh ...
VÔ GIAN ĐẠO                                 vo-gian-dao Vo Gian Dao Trần Việt Anh La Thành...
DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ  doraemon-nobita-va-mat-trang-phieu-luu-ky Dora...
LẬT MẶT: NHÀ CÓ KHÁCH                       lat-mat-nha-co-khach FACE OFF: THE WALKING GUE...
VỢ BA                                       vo-ba The Third Wife Ash Mayfair Trần Nữ Yên K...
NỤ HÔN MA QUÁI                              nu-hon-ma-quai Krasue Sitisiri Mongkolsiri Pha...
CORGI: NHỮNG CHÚ CHÓ HOÀNG GIA              corgi-nhung-chu-cho-hoang-gia The Queen's Corg...
CÀ CHỚN ANH ĐỪNG ĐI                         ca-chon-anh-dung-di Ca chon, anh dung di Đỗ C...
MẸ MA THAN KHÓC LA LLORONA                  me-ma-than-khoc-la-llorona The Curse of La Llo...
ALADDIN                                     aladdin Aladdin Guy Ritchie Mena Massoud, Naom...
POKÉMON: THÁM TỬ PIKACHU                    pokemon-tham-tu-pikachu Pokémon Detective Pika...
THẰNG EM LÝ TƯỞNG                           thang-em-ly-tuong Inseparable Bros Yook Sang-h...
QUÝ CÔ LỪA ĐẢO                              quy-co-lua-dao The Hustle Chris Addison  Anne ...
ƯỚC HẸN MÙA THU                             uoc-hen-mua-thu Autumn Promise Nguyễn Quang Dũ...
CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ           chua-te-godzilla-de-vuong-bat-tu Godzilla: Kin...

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_sim = cosine_similarity(tfid_matrix, tfid_matrix)
cosine_sim

array([[1.        , 0.00369164, 0.03261002, 0.03896251, 0.03360449,
        0.02699211, 0.03611129, 0.162736  , 0.00417954, 0.00368155,
        0.06346417, 0.00552993, 0.00463121, 0.03111894, 0.03415236,
        0.00444452, 0.00417455],
       [0.00369164, 1.        , 0.06033554, 0.01971863, 0.00306396,
        0.00348921, 0.00338177, 0.00428935, 0.02436443, 0.00295189,
        0.02593286, 0.06131824, 0.13755922, 0.00402268, 0.1021885 ,
        0.00356364, 0.12399515],
       [0.03261002, 0.06033554, 1.        , 0.04881107, 0.00316116,
        0.0316573 , 0.05175052, 0.0378899 , 0.00345749, 0.00304553,
        0.05352149, 0.03457902, 0.04583224, 0.0041503 , 0.03442991,
        0.02673102, 0.04131294],
       [0.03896251, 0.01971863, 0.04881107, 1.        , 0.00377697,
        0.0232443 , 0.14517281, 0.04527093, 0.00413102, 0.16146769,
        0.10213185, 0.00546573, 0.0247373 , 0.04360715, 0.09027364,
        0.07883081, 0.02229807],
       [0.03360449, 0.00306396, 0.00316116, 0.00377697, 1.        ,
        0.04360661, 0.01498059, 0.00444004, 0.04188152, 0.00305559,
        0.03746559, 0.00458969, 0.00384378, 0.06907184, 0.01955676,
        0.00368883, 0.03655284],
       [0.02699211, 0.00348921, 0.0316573 , 0.0232443 , 0.04360661,
        1.        , 0.06568652, 0.00505628, 0.01690547, 0.06774415,
        0.0173069 , 0.0052267 , 0.00437727, 0.02941259, 0.08990744,
        0.07538347, 0.01688526],
       [0.03611129, 0.00338177, 0.05175052, 0.14517281, 0.01498059,
        0.06568652, 1.        , 0.04195807, 0.01638488, 0.08680511,
        0.04641368, 0.00506575, 0.00424247, 0.00459591, 0.02158524,
        0.18138354, 0.01636529],
       [0.162736  , 0.00428935, 0.0378899 , 0.04527093, 0.00444004,
        0.00505628, 0.04195807, 1.        , 0.00485625, 0.00427763,
        0.11248767, 0.00642528, 0.00538105, 0.00582934, 0.00639757,
        0.00516413, 0.00485045],
       [0.00417954, 0.02436443, 0.00345749, 0.00413102, 0.04188152,
        0.01690547, 0.01638488, 0.00485625, 1.        , 0.05034532,
        0.01662224, 0.06797397, 0.03056551, 0.00455434, 0.02139001,
        0.02933335, 0.01621728],
       [0.00368155, 0.00295189, 0.00304553, 0.16146769, 0.00305559,
        0.06774415, 0.08680511, 0.00427763, 0.05034532, 1.        ,
        0.00342138, 0.00442181, 0.00370318, 0.00401169, 0.00440274,
        0.13604225, 0.00333803],
       [0.06346417, 0.02593286, 0.05352149, 0.10213185, 0.03746559,
        0.0173069 , 0.04641368, 0.11248767, 0.01662224, 0.00342138,
        1.        , 0.03884641, 0.03253314, 0.00466249, 0.05545986,
        0.00413043, 0.09661115],
       [0.00552993, 0.06131824, 0.03457902, 0.00546573, 0.00458969,
        0.0052267 , 0.00506575, 0.00642528, 0.06797397, 0.00442181,
        0.03884641, 1.        , 0.07692459, 0.00602582, 0.04998878,
        0.00533819, 0.07697823],
       [0.00463121, 0.13755922, 0.04583224, 0.0247373 , 0.00384378,
        0.00437727, 0.00424247, 0.00538105, 0.03056551, 0.00370318,
        0.03253314, 0.07692459, 1.        , 0.00504651, 0.04186467,
        0.00447063, 0.18828091],
       [0.03111894, 0.00402268, 0.0041503 , 0.04360715, 0.06907184,
        0.02941259, 0.00459591, 0.00582934, 0.00455434, 0.00401169,
        0.00466249, 0.00602582, 0.00504651, 1.        , 0.03721492,
        0.00484307, 0.0045489 ],
       [0.03415236, 0.1021885 , 0.03442991, 0.09027364, 0.01955676,
        0.08990744, 0.02158524, 0.00639757, 0.02139001, 0.00440274,
        0.05545986, 0.04998878, 0.04186467, 0.03721492, 1.        ,
        0.00531517, 0.05410873],
       [0.00444452, 0.00356364, 0.02673102, 0.07883081, 0.00368883,
        0.07538347, 0.18138354, 0.00516413, 0.02933335, 0.13604225,
        0.00413043, 0.00533819, 0.00447063, 0.00484307, 0.00531517,
        1.        , 0.0040298 ],
       [0.00417455, 0.12399515, 0.04131294, 0.02229807, 0.03655284,
        0.01688526, 0.01636529, 0.00485045, 0.01621728, 0.00333803,
        0.09661115, 0.07697823, 0.18828091, 0.0045489 , 0.05410873,
        0.0040298 , 1.        ]])

In [ ]:
np.save('tfidf_matrix.npy', tfid_matrix)
np.save('cosine_sim_matrix.npy', cosine_sim)

In [ ]:
import pickle
with open('tfidf_vectorizer.pkl', 'wb') as f:
    pickle.dump(tfid, f)

In [ ]:
final_data = df_film[['film', 'country']]
final_data.head()

                                         film        country
0                          NGÔI ĐỀN KỲ QUÁI       Thailand
1                           AVENGERS: HỒI KẾT  United States
2           JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH  United States
3                                 VÔ GIAN ĐẠO        Vietnam
4  DORAEMON: NOBITA VÀ MẶT TRĂNG PHIÊU LƯU KÝ       Japanese

In [ ]:
# import re
# class FlixHub:
#     def __init__(self, df, cosine_sim):
#         self.df = df
#         self.cosine_sim = cosine_sim
    
#     def recommendation(self, film_list, total_result=5, threshold=0.5):
#         idx = self.find_id(film_list)
#         self.df['similarity'] = self.cosine_sim[idx]
#         sort_df = self.df.sort_values(by='similarity', ascending=False)[1:total_result+1]
        
#         movies = sort_df['film']
        
#         similar_movies = []

        
#         for i, movie in enumerate(movies):
#             similar_movies.append('{}. {}'.format(i+1, movie))
        
        
        
#         return similar_movies
#     def find_id(self, name):
#         for index, string in enumerate(self.df['film']):
#             if re.search(name, string):
#                 return index
#         return -1

In [ ]:
import re

class FlixHub:
    def __init__(self, df, cosine_sim):
        self.df = df
        self.cosine_sim = cosine_sim
    
    def recommendation(self, film_list, total_result=5):
        recommended_movies = []

        for film_name in film_list:
            idx = self.find_id(film_name)

            if idx != -1:
                # Tính toán trung bình tương tự cho từng bộ phim trong danh sách
                avg_similarity = sum(self.cosine_sim[idx]) / len(self.cosine_sim[idx])
                
                # Thêm cột 'similarity' vào DataFrame
                self.df['similarity'] = avg_similarity
                
                # Sắp xếp DataFrame theo cột 'similarity'
                sort_df = self.df.sort_values(by='similarity', ascending=False)[1:total_result+1]
                
                # Lấy danh sách các bộ phim được đề xuất và thêm vào danh sách tổng
                recommended_movies.extend(['{}. {}'.format(i+1, movie) for i, movie in enumerate(sort_df['film'])])
            # else:
            #     recommended_movies.append("No matching films found for {}".format(film_name))

        return recommended_movies

    def find_id(self, name):
        for index, string in enumerate(self.df['film']):
            if re.search(name, string):
                return index
        return -1

In [89]:
flix_hub = FlixHub(final_data, cosine_sim)


movies = flix_hub.recommendation(film_list, total_result=5)

print('Recommended movies based on watched movies:')
for movie in movies:
    print(movie)

TypeError: unhashable type: 'list'

In [ ]:
df_tiket_customer

,customerid,film,slot type,ticket type,popcorn,gender,job,industry
0,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
1,0000000014,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,student,computer
2,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
3,0000000034,JOHN WICK 3: CHUẨN BỊ CHIẾN TRANH,ĐƠN,Thành viên,Không,Nam,student,health service
4,0000000034,NGÔI ĐỀN KỲ QUÁI,ĐƠN,Thành viên,Không,Nam,student,health service
...,...,...,...,...,...,...,...,...
35469,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không,Nữ,blue collar,finance
35470,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không,Nữ,blue collar,finance
35471,WEBS00000044909,CHÚA TỂ GODZILLA: ĐẾ VƯƠNG BẤT TỬ,ĐƠN,Thành viên,Không,Nữ,blue collar,finance
35472,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,teenager,NaN
35473,WEBS00000046015,AVENGERS: HỒI KẾT,ĐƠN,Thành viên,Không,Nữ,teenager,NaN